In [48]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\divith raj\anaconda3\lib\site-packages (4.16.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\divith raj\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\divith raj\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\divith raj\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\divith raj\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\divith raj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\divith raj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\divith raj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\divith raj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\divith raj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\divith raj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\divith raj\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\divith raj\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\divith raj\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\divith raj\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [49]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time

from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

from selenium.webdriver.common.keys import Keys

# 1

 Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 
A) Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views

In [8]:
driver=webdriver.Chrome()

In [9]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [19]:
rank=[] #//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[1]
name=[] #//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[1]
artist=[] #//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[2]
upload_date=[] #//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[3]
views=[] #//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[4]

In [20]:
na=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for i in na:
    name.append(i.text)

for i in range(len(name)):
    rank.append(f"{i+1}")

art=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for i in art:
    artist.append(i.text)
    
upload=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for i in upload:
    upload_date.append(i.text)
    
view=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for i in view:
    views.append(i.text)

In [21]:
df=pd.DataFrame({'RANK':rank,'NAME':name,'ARTIST':artist,'UPLOAD DATE':upload_date,'VIEWS':views})

In [22]:
df

,RANK,NAME,ARTIST,UPLOAD DATE,VIEWS
0,1,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,14.09,"June 17, 2016"
1,2,"""Despacito""[9]",Luis Fonsi,8.38,"January 12, 2017"
2,3,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.87,"October 8, 2016"
3,4,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.62,"May 2, 2018"
4,5,"""Shape of You""[19]",Ed Sheeran,6.20,"January 30, 2017"
5,6,"""See You Again""[22]",Wiz Khalifa,6.17,"April 6, 2015"
6,7,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.88,"May 24, 2018"
7,8,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.70,"March 6, 2014"
8,9,"""Uptown Funk""[29]",Mark Ronson,5.15,"November 19, 2014"
9,10,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,5.07,"February 27, 2018"
10,11,"""Gangnam Style""[31]",Psy,5.05,"July 15, 2012"
11,12,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.58,"January 31, 2012"
12,13,"""Dame Tu Cosita""[37]",Ultra Records,4.55,"April 5, 2018"
13,14,"""Axel F""[38]",Crazy Frog,4.34,"June 16, 2009"
14,15,"""Sugar""[39]",Maroon 5,4.00,"January 14, 2015"
15,16,"""Counting Stars""[40]",OneRepublic,3.97,"May 31, 2013"
16,17,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,3.96,"June 25, 2018"
17,18,"""Roar""[42]",Katy Perry,3.96,"September 5, 2013"
18,19,"""Lakdi Ki Kathi""[43]",Jingle Toons,3.91,"June 14, 2018"
19,20,"""Waka Waka (This Time for Africa)""[44]",Shakira,3.85,"June 4, 2010"
20,21,"""Sorry""[45]",Justin Bieber,3.77,"October 22, 2015"
21,22,"""Thinking Out Loud""[46]",Ed Sheeran,3.73,"October 7, 2014"
22,23,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.73,"January 26, 2018"
23,24,"""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,3.69,"May 10, 2011"
24,25,"""Dark Horse""[49]",Katy Perry,3.67,"February 20, 2014"
25,26,"""Perfect""[50]",Ed Sheeran,3.67,"November 9, 2017"
26,27,"""Let Her Go""[51]",Passenger,3.61,"July 25, 2012"
27,28,"""Faded""[52]",Alan Walker,3.59,"December 3, 2015"
28,29,"""Girls Like You""[53]",Maroon 5,3.56,"May 31, 2018"
29,30,"""Lean On""[54]",Major Lazer Official,3.55,"March 22, 2015"

# 2

# Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/. 
You need to find following details: 
A) Series 
B) Place 
C) Date 
D) Time 
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [58]:
bcci=webdriver.Chrome()

In [59]:
bcci.get("http://www.bcci.tv/")

In [60]:
fixture=bcci.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixture.click()

In [64]:
india=bcci.find_element(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[1]/div[2]/div/div[1]/div/div[1]')
india.click()

try:
    india=bcci.find_element(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[1]/div[2]/div/div[1]/div/div[1]')
    india.click()
except StaleElementReferenceException as e:
    print("exception raised :",e)
    india=bcci.find_element(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[1]/div[2]/div/div[1]/div/div[1]')
    india.click()

In [65]:
india_c=bcci.find_element(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[1]/div[2]/div/div[1]/div/div[2]/div[8]')
india_c.click()

In [70]:
urls=[]
series=[] #[class="tournament--name ng-binding ng-scope"]
place=[] #[class="matPlace ng-binding ng-scope"]
date=[] #[class="matchDate ng-binding ng-scope"]
times=[] #[class="matchTm ng-binding"]

In [71]:
links=bcci.find_elements(By.XPATH,'//a[@class="match-btn match-card-btn ng-scope"]')
for i in links:
    urls.append(i.get_attribute('href'))

In [72]:
urls

['https://www.bcci.tv/events/129/england-tour-of-india-2023-24/match/1176/4th-test',
 'https://www.bcci.tv/events/129/england-tour-of-india-2023-24/match/1177/5th-test',
 'https://www.bcci.tv/events/147/india-tour-of-zimbabwe-2024/match/1349/1st-t20i',
 'https://www.bcci.tv/events/147/india-tour-of-zimbabwe-2024/match/1350/2nd-t20i',
 'https://www.bcci.tv/events/147/india-tour-of-zimbabwe-2024/match/1351/3rd-t20i',
 'https://www.bcci.tv/events/147/india-tour-of-zimbabwe-2024/match/1352/4th-t20i',
 'https://www.bcci.tv/events/147/india-tour-of-zimbabwe-2024/match/1353/5th-t20i']

In [73]:
for x in range(len(urls)):
    bcci.get(urls[x])
    
    time.sleep(7)
    
    try:
        ser=bcci.find_element(By.XPATH,"/html/body/div[5]/div/div[1]/div[2]/div[2]/div[3]/div[1]/div[1]/div/div[1]/div/div[1]")
        if ser.text==None:
            series.append("-")
        else:
            series.append(ser.text)
    except NoSuchElementException as e:
            series.append("-")
    
    try:
        pla=bcci.find_element(By.XPATH,"/html/body/div[5]/div/div[1]/div[2]/div[2]/div[3]/div[1]/div[1]/div/div[1]/div/div[3]/span[3]")
        if pla.text==None:
            place.append("-")
        else:
            place.append(pla.text)
    except NoSuchElementException as e:
            place.append("-")
    
            
    try:
        da=bcci.find_element(By.XPATH,"/html/body/div[5]/div/div[1]/div[2]/div[2]/div[3]/div[1]/div[1]/div/div[3]/div[1]")
        if da.text==None:
            date.append("-")
        else:
            date.append(da.text)
    except NoSuchElementException as e:
            date.append("-")
    
        

    try:
        ti=bcci.find_element(By.XPATH,"/html/body/div[5]/div/div[1]/div[2]/div[2]/div[3]/div[1]/div[1]/div/div[3]/div[2]")
        if ti.text==None:
            times.append("-")
        else:
            times.append(ti.text)
    except NoSuchElementException as e:
            times.append("-")

In [74]:
df1=pd.DataFrame({'SERIES':series,'PLACE':place,'DATE':date,'TIME':time})
df1

,SERIES,PLACE,DATE,TIME
0,-,-,-,<module 'time' (built-in)>
1,England Tour of India 2023-24,Dharamsala,7 MAR 2024,<module 'time' (built-in)>
2,India Tour of Zimbabwe 2024,Harare,6 JUL 2024,<module 'time' (built-in)>
3,India Tour of Zimbabwe 2024,Harare,7 JUL 2024,<module 'time' (built-in)>
4,India Tour of Zimbabwe 2024,Harare,10 JUL 2024,<module 'time' (built-in)>
5,India Tour of Zimbabwe 2024,Harare,13 JUL 2024,<module 'time' (built-in)>
6,India Tour of Zimbabwe 2024,Harare,14 JUL 2024,<module 'time' (built-in)>

# 3

Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ 
You have to find following details: A) Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion) 
Note: - From statisticstimes home page you have to reach to economy page through code.

In [4]:
gdp=webdriver.Chrome()

In [6]:
gdp.get("http://statisticstimes.com/")

In [9]:
economy=gdp.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [10]:
india=gdp.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()/html/body/div[2]/div[2]/div[2]/ul/li[1]/a

In [11]:
gdp_india=gdp.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp_india.click()

In [13]:
rank=[]
state=[]
gsdp_2122=[]
gsdp_2223=[]
share_2223=[]
gdp_=[] #//table[@id="table_id"]/tbody/tr/td[6]

In [14]:
ra=gdp.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
for i in ra:
    rank.append(i.text)
    
st=gdp.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
for i in st:
    state.append(i.text)

gs21=gdp.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
for i in gs21:
    gsdp_2122.append(i.text)

gs22=gdp.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
for i in gs22:
    gsdp_2223.append(i.text)
    
share=gdp.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
for i in share:
    share_2223.append(i.text)
    
gd=gdp.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
for i in gd:
    gdp_.append(i.text)

In [15]:
df1=pd.DataFrame({'RANK':rank,'STATE':state,'GSDP 21-22':gsdp_2122,'GSDP 22-23':gsdp_2223,'SHARE':share_2223,'GDP':gdp_})
df1

   RANK                      STATE GSDP 21-22 GSDP 22-23   SHARE      GDP
0     1                Maharashtra          -  3,108,022  13.24%  417.163
1     2                 Tamil Nadu  2,364,514  2,071,286   8.82%  278.011
2     3              Uttar Pradesh  2,257,575  1,974,532   8.41%  265.024
3     4                  Karnataka  2,241,368  1,962,725   8.36%  263.440
4     5                    Gujarat          -  1,937,066   8.25%  259.996
5     6                West Bengal  1,554,992  1,363,926   5.81%  183.068
6     7                  Rajasthan  1,413,620  1,218,193   5.19%  163.507
7     8             Madhya Pradesh  1,322,821  1,136,137   4.84%  152.494
8     9             Andhra Pradesh  1,317,728  1,133,837   4.83%  152.185
9    10                  Telangana  1,313,391  1,128,907   4.81%  151.523
10   11                     Kerala          -    932,470   3.97%  125.157
11   12                      Delhi  1,043,759    904,642   3.85%  121.422
12   13                    Haryana    994,154    870,665   3.71%  116.862
13   14                     Odisha    774,869    670,881   2.86%   90.047
14   15                      Bihar    751,396    650,302   2.77%   87.284
15   16                     Punjab    673,107    614,227   2.62%   82.442
16   17                      Assam    493,167    412,612   1.76%   55.381
17   18               Chhattisgarh    457,608    406,416   1.73%   54.550
18   19                  Jharkhand    393,722    358,863   1.53%   48.167
19   20                Uttarakhand    302,621    272,159   1.16%   36.530
20   21         Jammu & Kashmir-UT    227,927    199,917   0.85%   26.833
21   22           Himachal Pradesh    195,405    176,269   0.75%   23.659
22   23                        Goa          -     82,604   0.35%   11.087
23   24                    Tripura     72,636     62,550   0.27%    8.396
24   25                 Chandigarh          -     45,635   0.19%    6.125
25   26                 Puducherry          -     44,238   0.19%    5.938
26   27                  Meghalaya     42,697     38,785   0.17%    5.206
27   28                     Sikkim     42,756     37,557   0.16%    5.041
28   29                    Manipur          -     36,594   0.16%    4.912
29   30          Arunachal Pradesh          -     35,124   0.15%    4.714
30   31                   Nagaland          -     31,913   0.14%    4.283
31   32                    Mizoram          -     27,824   0.12%    3.735
32   33  Andaman & Nicobar Islands          -     10,371   0.04%    1.392

# 4

Scrape the details of trending repositories on Github.com. 
Url = https://github.com/ 
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used

In [52]:
git=webdriver.Chrome()

In [53]:
git.get("https://github.com/")

In [54]:
open=git.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
open.click()

In [55]:
trend=git.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
trend.click()

In [56]:
url=[]

In [57]:
source=git.find_elements(By.XPATH,'//a[@class="Link"]')

In [59]:
for i in source:
    url.append(i.get_attribute('href'))

In [60]:
for i in source:
    title.append(i.text)

In [58]:
title=[]  #[class="h3 lh-condensed"]
description=[]#//p[@class="col-9 color-fg-muted my-1 pr-4"]
count=[]#//div[@class="f6 color-fg-muted mt-2"]/a[1]
language=[]#//span[@itemprop="programmingLanguage"]

In [61]:
len(title)

25

In [62]:
len(url)

25

In [63]:
for x in range(len(url)):
    
    git.get(url[x])
    
    time.sleep(7)
    
    try:
        des=git.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[1]/div/div/p")
        if des.text==None:
            description.append("-")
        else:
            description.append(des.text)
    except NoSuchElementException as e:
            description.append("-")
            
    try:
        cou=git.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[1]/div/div/div[9]/a/strong")
        if cou.text==None:
            count.append("-")
        else:
            count.append(cou.text)
    except NoSuchElementException as e:
            count.append("-")
            
    try:
        lan=git.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[5]/div/ul/li[1]/a/span[1]")
        if lan.text==None:
            language.append("-")
        else:
            language.append(lan.text)
    except NoSuchElementException as e:
            language.append("-")

In [64]:
len(language)

25

In [65]:
df2=pd.DataFrame({'Repository title':title,'Repository description':description,'Contributors count':count,'Language used':language})
df2

,Repository title,Repository description,Contributors count,Language used
0,google / gemma_pytorch,The official PyTorch implementation of Google'...,1.9k,-
1,google / gemma.cpp,"lightweight, standalone C++ inference engine f...",-,-
2,SoraWebui / SoraWebui,"SoraWebui is an open-source Sora web client, e...",-,-
3,zed-industries / zed,Code at the speed of thought – Zed is a high-p...,866,Rust
4,facebook / react-strict-dom,React Strict DOM (RSD) is a subset of React DO...,37,-
5,all-in-aigc / sorafm,Sora AI Video Generator by Sora.FM,106,TypeScript
6,jackfrued / Python-100-Days,Python - 100天从新手到大师,-,-
7,levihsu / OOTDiffusion,Official implementation of OOTDiffusion: Outfi...,-,-
8,FujiwaraChoki / MoneyPrinterV2,Automate the process of making money online.,-,Python
9,mtkarimi / smart-resident-guard,-,-,Python
10,localsend / localsend,An open-source cross-platform alternative to A...,1.4k,-
11,xiaolai / everyone-can-use-english,人人都能用英语,-,-
12,google-deepmind / gemma,Open weights LLM from Google DeepMind.,-,-
13,zhayujie / chatgpt-on-wechat,基于大模型搭建的微信聊天机器人，同时支持微信、企业微信、公众号、飞书、钉钉接入，可选择GPT...,-,-
14,lobehub / lobe-chat,"🤯 Lobe Chat - an open-source, modern-design Ch...",108,-
15,soufianetahiri / Anxun-isoon,I-SOON/Anxun leak related stuff,-,Python
16,weijunext / indie-hacker-tools,收录独立开发者出海技术栈和工具,-,-
17,keep-starknet-strange / awesome-starknet,"A curated list of awesome StarkNet resources, ...",-,-
18,facebook / react-native,A framework for building native applications u...,3.6k,-
19,open-telemetry / opentelemetry-cpp,The OpenTelemetry C++ Client,637,C++
20,songquanpeng / one-api,OpenAI 接口管理 & 分发系统，支持 Azure、Anthropic Claude、G...,-,-
21,ollama / ollama,"Get up and running with Llama 2, Mistral, Gemm...",2.4k,Go
22,lencx / Noi,"🚀 Power Your World with AI - Explore, Extend, ...",-,-
23,starknet-io / provisions-data,Lists of eligible identities for Starknet prov...,38,-
24,Azure-Samples / azure-search-openai-demo,A sample app for the Retrieval-Augmented Gener...,2.9k,Python

# 5

Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board 
 Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [50]:
billi=webdriver.Chrome()

In [51]:
billi.get("https:/www.billboard.com/")

In [54]:
sing=billi.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div[1]/div[2]/div/div[1]/div/div[1]/div[2]/h3/a")
sing.click()

In [55]:
song=[]#//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/h3
artist=[]#//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span[1]
last_rank=[]#//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]/span
peak_rank=[]#//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span
weeks=[]#//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]/span

In [56]:
so=billi.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/h3')
for i in so:
    song.append(i.text)
    
ar=billi.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span[1]')
for i in ar:
    artist.append(i.text)

last=billi.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]/span')
for i in last:
    last_rank.append(i.text)

peak=billi.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span')
for i in peak:
    peak_rank.append(i.text)
    
week=billi.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]/span')
for i in week:
    weeks.append(i.text)

In [57]:
df3=pd.DataFrame({'SONG':song,'ARTIST':artist,'LAST RANK':last_rank,'PEAK RANK':peak_rank,'WEEKS':weeks})
df3

,SONG,ARTIST,LAST RANK,PEAK RANK,WEEKS
0,Lovin On Me,Jack Harlow,1,1,14
1,Texas Hold 'Em,Beyonce,-,2,1
2,Carnival,¥$: Kanye West & Ty Dolla $ign Featuring Rich ...,-,3,1
3,Beautiful Things,Benson Boone,3,3,4
4,Lose Control,Teddy Swims,2,2,27
...,...,...,...,...,...
95,Mmhmm,BigXthaPlug,83,65,8
96,Monaco,Bad Bunny,77,5,18
97,Prove It,21 Savage & Summer Walker,75,43,5
98,Perro Negro,Bad Bunny & Feid,82,20,15
99,Sunday Service,Latto,-,100,1

# 6

Scrape the details of Highest selling novels. 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre 
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [81]:
novel=webdriver.Chrome()

novel.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [84]:
nov_cli=novel.find_element(By.XPATH,"/html/body/div/div[2]/div[1]/div[2]/div/a[1]")
nov_cli.click()

In [87]:
books=[]#//table[@class="in-article sortable"]/tbody/tr/td[2]
author=[]#//table[@class="in-article sortable"]/tbody/tr/td[3]
sold=[]#//table[@class="in-article sortable"]/tbody/tr/td[4]
publisher=[]#//table[@class="in-article sortable"]/tbody/tr/td[5]
genre=[]#//table[@class="in-article sortable"]/tbody/tr/td[6]

In [89]:
book=novel.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in book:
    books.append(i.text)
    
auth=novel.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in auth:
    author.append(i.text)

sol=novel.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in sol:
    sold.append(i.text)

pub=novel.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in pub:
    publisher.append(i.text)
    
genr=novel.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genr:
    genre.append(i.text)

In [90]:
df4=pd.DataFrame({'BOOK':books,'AUTHOR':author,'BOOKS SOLD':sold,'PUBLISHER':publisher,'GENRE':genre})
df4

,BOOK,AUTHOR,BOOKS SOLD,PUBLISHER,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 7

Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/ You have 
to find the following details: 
A) Name 
B) Year span 
C) Genre 
D) Run time 
E) Ratings 
F) Votes

In [120]:
imdb=webdriver.Chrome()

imdb.get("https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc")

In [121]:
Name=[]  #//h1[@class="sc-d8941411-0 dxeMrU"]
Year_span=[] #/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul/li[2]/a
Genre =[] #/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/div[1]/div[2]/a[1]
Run_time=[] #/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul/li[4]
Ratings=[] #/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[2]/div[1]/div/div[1]/a/span/div/div[2]/div[1]
Votes=[] #/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[2]/div[1]/div/div[1]/a/span/div/div[2]/div[3]
urls=[]

In [122]:
web_links=imdb.find_elements(By.XPATH,'//a[@class="ipc-title-link-wrapper"]')
x=0
for i in web_links:
    
    if x==10:
        break;
    else:
        urls.append(i.get_attribute('href'))
    x=x+1

In [124]:
for y in range(len(urls)):
    
    imdb.get(urls[y])
    
    time.sleep(7)
    
    try:
        nam=imdb.find_element(By.XPATH,'//h1[@class="sc-d8941411-0 dxeMrU"]')
        if nam.text==None:
            Name.append("-")
        else:
            Name.append(nam.text)
    except NoSuchElementException as e:
            Name.append("-")
            
    try:
        ys=imdb.find_element(By.XPATH,'/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul/li[2]/a')
        if ys.text==None:
            Year_span.append("-")
        else:
            Year_span.append(ys.text)
    except NoSuchElementException as e:
            Year_span.append("-")
    
    try:
        ge=imdb.find_element(By.XPATH,'/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/section/div[1]/div[2]/a[1]')
        if ge.text==None:
            Genre.append("-")
        else:
            Genre.append(ge.text)
    except NoSuchElementException as e:
            Genre.append("-")
    
    try:
        rt=imdb.find_element(By.XPATH,'/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul/li[4]')
        if rt.text==None:
            Run_time.append("-")
        else:
            Run_time.append(rt.text)
    except NoSuchElementException as e:
            Run_time.append("-")
            
    try:
        ra=imdb.find_element(By.XPATH,'/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[2]/div[1]/div/div[1]/a/span/div/div[2]/div[1]/span[1]')
        if ra.text==None:
            Ratings.append("-")
        else:
            Ratings.append(ra.text)
    except NoSuchElementException as e:
            Ratings.append("-")
            
    try:
        vo=imdb.find_element(By.XPATH,'/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[2]/div[2]/div/div[1]/a/span/div/div[2]/div[3]')
        if vo.text==None:
            Votes.append("-")
        else:
            Votes.append(vo.text)
    except NoSuchElementException as e:
            Votes.append("-")

In [125]:
df5=pd.DataFrame({'NAME':Name,'YEAR':Year_span,'GENRE':Genre,'RUN TIME':Run_time,'RATINGS':Ratings,'VOTES':Votes})
df5

                    NAME       YEAR   GENRE RUN TIME RATINGS VOTES
0        Game of Thrones  2011–2019  Action      55m          2.3M
1           Breaking Bad  2008–2013   Crime      45m          2.1M
2        Stranger Things  2016–2025   Drama      51m          1.3M
3                Friends  1994–2004  Comedy      88h          1.1M
4       The Walking Dead  2010–2022   Drama      44m          1.1M
5               Sherlock  2010–2017   Crime   1h 28m          988K
6    The Big Bang Theory  2007–2019  Comedy   95h 2m          860K
7                 Dexter  2006–2013   Crime      55m          759K
8  How I Met Your Mother  2005–2014  Comedy  76h 16m          723K
9             The Office  2005–2013  Comedy      22m          699K

# 8

Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/ You 
have to find the following details: 
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute 
G) Year 
Note: - from the home page you have to go to the Show All Dataset page through code.

In [131]:
uci=webdriver.Chrome()

uci.maximize_window()

uci.get("https://archive.ics.uci.edu/ You")

In [135]:
dataset=[] #//h2[@class="truncate text-primary"]
data_type=[] # //div[@class="rounded-box bg-base-100"]/div/div[2]/div/div[1]/span
task=[] # //div[@class="rounded-box bg-base-100"]/div/div[2]/p
attribute=[] # //div[@class="rounded-box bg-base-100"]/div/div[2]/div/div[2]/span
instance=[] # //div[@class="rounded-box bg-base-100"]/div/div[2]/div/div[3]/span
no_att=[] # //div[@class="rounded-box bg-base-100"]/div/div[2]/div/div[4]/span
year=[] # //div[@class="grid grid-cols-8 overflow-x-auto"]/table/tbody/tr/td[2]

In [133]:
datasets=uci.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div/div/div/a[2]')
datasets.click()

In [136]:
for x in range(100):
    
    expand=uci.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]')
    expand.click()
    
    dat=uci.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
    for i in dat:
        dataset.append(i.text)
    
    typ=uci.find_elements(By.XPATH,'//div[@class="rounded-box bg-base-100"]/div/div[2]/div/div[1]/span')
    for i in typ:
        data_type.append(i.text)

    tas=uci.find_elements(By.XPATH,'//div[@class="rounded-box bg-base-100"]/div/div[2]/p')
    for i in tas:
        task.append(i.text)
    
    att=uci.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]/table/tbody/tr/td[2]')
    for i in att:
        attribute.append(i.text)
    
    ins=uci.find_elements(By.XPATH,'//div[@class="rounded-box bg-base-100"]/div/div[2]/div/div[3]/span')
    for i in ins:
        instance.append(i.text)
    
    no=uci.find_elements(By.XPATH,'//div[@class="rounded-box bg-base-100"]/div/div[2]/div/div[4]/span')
    for i in no:
        no_att.append(i.text)
    
    ye=uci.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]/table/tbody/tr/td[3]')
    for i in ye:
        year.append(i.text)
        
    for m in range(20):
        uci.execute_script("window.scrollBy(0,500)")
        
    try:
        next=uci.find_element(By.XPATH,'//div[@class="btn-group"]/button[2]')
        next.click()
    except ElementClickInterceptedException as e:
        break;
        
    time.sleep(7)

In [142]:
df6=pd.DataFrame({'DATA SET':dataset,'DATA TYPE':data_type,'TASK':task,'TYPE OF ATTRIBUTE':attribute,'NO OF INSTANCES':instance,'NO OF ATTRIBUTE':no_att,'YEAR':year})
df6.head(100)

,DATA SET,DATA TYPE,TASK,TYPE OF ATTRIBUTE,NO OF INSTANCES,NO OF ATTRIBUTE,YEAR
0,Iris,Classification,"A small classic dataset from Fisher, 1936. One...",Categorical,150 Instances,4 Features,6/1/1997
1,Dry Bean Dataset,Classification,"Images of 13,611 grains of 7 different registe...","Categorical, Integer",13.61K Instances,16 Features,2/14/2012
2,Heart Disease,Classification,"4 databases: Cleveland, Hungary, Switzerland, ...",Categorical,303 Instances,13 Features,4/27/1987
3,Rice (Cammeo and Osmancik),Classification,A total of 3810 rice grain's images were taken...,"Categorical, Integer, Real",3.81K Instances,7 Features,12/1/1995
4,Adult,Classification,Predict whether income exceeds $50K/yr based o...,Integer,48.84K Instances,14 Features,11/27/2014
...,...,...,...,...,...,...,...
95,Lenses,,Database for fitting contact lenses,Categorical,,,N/A
96,Combined Cycle Power Plant,,The dataset contains 9568 data points collecte...,N/A,,,5/15/2022
97,Flags,,"From Collins Gem Guide to Flags, 1986",Integer,,,10/1/2001
98,KDD Cup 1999 Data,,This is the data set used for The Third Intern...,Integer,,,11/2/2016
99,Productivity Prediction of Garment Employees,,This dataset includes important attributes of ...,"Real, Categorical",,,9/12/2023