In [1]:
import regex as re
import pandas as pd

1

Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text-'Python Exercises, PHP exercises.'
Expected Output:Python:Exercises::PHP:exercises:

In [2]:
string='Python Exercises, PHP exercises.'

result=re.sub(r'[\s,\.]',':',string)
print(result)

Python:Exercises::PHP:exercises:

2

Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary-{'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [3]:
dict={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(dict)

In [4]:
df

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [5]:
df['SUMMARY'].str.replace(r'[,X:;\.!\d]',"",regex=True)

0      hello world
1             test
2    four five six
Name: SUMMARY, dtype: object

3

Create a function inpython to find all words that are at least 4 characters long in a string.
The use of the re.compile() method is mandatory.

In [6]:
string="hello world , i am divith from vizag "

def filter_4(str):
    four=re.compile(r'[\w]{4,}')
    result=four.findall(string)
    print(result)

filter_4(string)

['hello', 'world', 'divith', 'from', 'vizag']

4

Create a function in python to find all three, four, and five character words in a string. 
The use of the re.compile() method is mandatory.

In [7]:
string="hello world , i am divith from vizag and mumbai"

def filter_4(str):
    extract=re.compile(r'\b[\w]{3,5}\b')
    result=extract.findall(string)
    print(result)

filter_4(string)

['hello', 'world', 'from', 'vizag', 'and']

5

Create a function in Python to remove the parenthesis in a list of strings.
The use of the re.compile() method is mandatory.
Sample Text:["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [8]:
def rem_paranthesis(list):
    extract=re.compile(r'[\(\)]')
    for i in list:
        result=extract.sub("",i)
        print(result)
        
sample_text=["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello (Data Science World)", "Data (Scientist)"]

rem_paranthesis(sample_text)

example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

6

Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

In [9]:
file_name='rem_paranthesis.txt'
def rem_paranthesis(file):
    
    paranthesis=open(file)
    
    par=paranthesis.read()
    
    extract=re.compile(r'\([\.\w\s]*\)')
    
    result=extract.sub("",par)
    
    print(result)
        

rem_paranthesis(file_name)

["example", "hr@fliprobo", "github", "Hello", "Data"]

7

Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”

In [10]:
string="ImportanceOfRegularExpressionsInPython"
result=re.findall(r'[A-Z][a-z]+',string)
result

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

8

Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

In [11]:
string="RegularExpression1IsAn2ImportantTopic3InPython"
def insert_space_type1(str):
    
    result=re.sub(r'([A-Z][a-z]+)(\d[A-Z][a-z]+)',r'\1 \2',str)
    print(result)

In [12]:
insert_space_type1(string)

RegularExpression 1IsAn 2ImportantTopic 3InPython

9

Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

In [13]:
string="RegularExpression1IsAn2ImportantTopic3InPython"
def insert_space_type1(str):
    result=re.sub(r'([A-Z][a-z]+)(\d+)',r'\1 \2 ',string)
    print(result)
    
insert_space_type1(string)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

10

Use the github link below to read the data and create a dataframe. 
After creating the dataframe extract the first 6 letters of each country and store in the 
dataframe under a new column called first_five_letters.

In [14]:
df=pd.read_csv('happiness.csv')

In [21]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

In [22]:
df['first_five_letters']=df['Country'].str.extract(r'(^[A-Za-z]{,6})') #
df['first_five_letters']

0      Switze
1      Icelan
2      Denmar
3      Norway
4      Canada
        ...
153    Rwanda
154     Benin
155     Syria
156    Burund
157      Togo
Name: first_five_letters, Length: 158, dtype: object

In [23]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

11

Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [24]:
list=["hello","Hello","Hello123","hello_123","hello@123","Hello.123"]
for i in list:
    result=re.match(r'(^[\w]+$)',i)
    print(result)

<regex.Match object; span=(0, 5), match='hello'>
<regex.Match object; span=(0, 5), match='Hello'>
<regex.Match object; span=(0, 8), match='Hello123'>
<regex.Match object; span=(0, 9), match='hello_123'>
None
None

12

Write a Python program where a string will start with a specific number.

In [25]:
def search(pat,list):
    for i in list:
        result=re.match(pat,i)
        print(result)

In [26]:
pattern=input("Enter the number :")
data=['123456 I Am ready','456 Go','123 fix it','76 why not']
search(pattern,data)

Enter the number :12
<regex.Match object; span=(0, 2), match='12'>
None
<regex.Match object; span=(0, 2), match='12'>
None

13

Write a Python program to remove leading zeros from an IP address.

In [27]:
def Lead_zero(list):
    pattern1=r'\.[0]{1,2}'
    list2=[]
    for i in list:
        result=re.sub(pattern1,'.',i)
        list2.append(result)
    list3=[]
    pattern2=r'^[0]{0,2}'
    for i in list2:
        result=re.sub(pattern2,'',i)
        list3.append(result)
    print(list3)

In [28]:
ip_address=["192.168.001.001",
"010.010.010.010",
"003.003.003.003",
"025.025.025.025",      
"007.007.007.007",
"004.004.004.004",
"001.010.100.001"]

Lead_zero(ip_address)

['192.168.1.1', '10.10.10.10', '3.3.3.3', '25.25.25.25', '7.7.7.7', '4.4.4.4', '1.10.100.1']

14

Write a regular expression in python to match a date string in the form of Month name 
followed by day number and year stored in a text file.
Sample text :  'On August 15th 1947 that India was declared independent from British colonialism, 
    and the reins of control were handed over to the leaders of the Country’.

In [29]:
pattern=r'\bJan[\w]+\s[\w]+\s\d{4}\b|\bFeb[\w]+\s[\w]+\s\d{4}\b|\bMar[\w]+\s[\w]+\s\d{4}\b|\bApr[\w]+\s[\w]+\s\d{4}\b|\bMay[\w]*\s[\w]*\s\d{4}\b|\bJune[\w]*\s[\w]*\s\d{4}\b|\bJuly[\w]*\s[\w]*\s\d{4}\b|\bAug[\w]+\s[\w]+\s\d{4}\b|\bSep[\w]+\s[\w]+\s\d{4}\b|\bOct[\w]+\s[\w]+\s\d{4}\b|\bNov[\w]+\s[\w]+\s\d{4}\b|\bDec[\w]+\s[\w]+\s\d{4}\b'
with open('Date_ext.txt') as file:
    for line in file :
        dates=re.findall(pattern,line,re.IGNORECASE)
        print(dates)

['August 15th 1947']
[]

Note: (?:)--->This indicates a non capturing group

15

Write a Python program to search some literals strings in a string.

In [30]:
string='The quick brown fox jumps over the lazy dog.'

list_search=['fox', 'dog', 'horse']

def literal(string,list):
    
        for i in list:
            match=re.finditer(i,string)
            for matches in match:
                print(f'The literal "{matches.group()}" is found')

In [31]:
literal(string,list_search)

The literal "fox" is found
The literal "dog" is found

16

Write a Python program to search a literals string in a string and 
also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'

In [32]:
string='The quick brown fox jumps over the lazy dog.'

list_search=['dog']

def literal(string,list):
    
        for i in list:
            match=re.finditer(i,string)
            for matches in match:
                print(f'The literal "{matches.group()}" is found starts at "{matches.start()}" ends at "{matches.end()}"')

In [33]:
literal(string,list_search)

The literal "dog" is found starts at "40" ends at "43"

17

Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'

In [34]:
string="Python exercises, PHP exercises, C# exercises"
pattern="exercises"

In [35]:
def find_substr(pattern,string):
    
    substring=re.finditer(pattern,string)
    
    for substr in substring:
        print(substr.group())

In [36]:
find_substr(pattern,string)

exercises
exercises
exercises

18

 Write a Python program to find the occurrence and position of the substrings within a string.

In [37]:
string="Python exercises, PHP exercises, C# exercises"
pattern="exercises"

In [38]:
def find_substr(pattern,string):
    
    substring=re.finditer(pattern,string)
    
    for substr in substring:
        print(f'The substring "{substr.group()}"  starts at "{substr.start()}" and end at "{substr.end()-1}" index respectively')

In [39]:
find_substr(pattern,string)

The substring "exercises"  starts at "7" and end at "15" index respectively
The substring "exercises"  starts at "22" and end at "30" index respectively
The substring "exercises"  starts at "36" and end at "44" index respectively

19

Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [40]:
string="Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."

def format_date(string):
    date=re.sub(r'([\d]{2})-([\d]{2})-([\d]{4})',r'\3-\2-\1',string)
    print(date)

In [41]:
format_date(string)

Ron was born on 1992-09-12 and he was admitted to school 1999-12-15.

20

Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string.
The use of the re.compile() method is mandatory.

In [42]:
text="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

In [43]:
def precision(str):
    pat=re.compile(r'\d+\.[\d]{1,2}\b')
    result=pat.findall(str)
    print(result)

In [44]:
precision(text)

['01.12', '145.8', '3.01', '27.25', '0.25']

21

Write a Python program to separate and print the numbers and their position of a given string.

In [45]:
string="Hello guys,my age is 21 with 8 years of experience adnd 120000 per month salary."

In [46]:
str=re.finditer(r'(\d+)',string)

In [47]:
for num in str:
    print(f'The number "{num.group()}" is starts at "{num.start()}" and end at "{num.end()-1}" index respectively')

The number "21" is starts at "21" and end at "22" index respectively
The number "8" is starts at "29" and end at "29" index respectively
The number "120000" is starts at "56" and end at "61" index respectively

22

Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text: 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

In [48]:
Sample_Text= "My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"
def find_max(text):
    result=re.findall(r'\d+',text)
    result1=[]
    for i in result:
        result1.append(int(i))
    print("The maximum value is",max(result1))
    print("The minimum value is",min(result1))

In [49]:
find_max(Sample_Text)

The maximum value is 950
The minimum value is 524

23

Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"

In [50]:
sample="RegularExpressionIsAnImportantTopicInPython"
def space(string):
    result=re.sub(r'([a-z])([A-Z])',r'\1 \2',string)
    print(result)

space(sample)

Regular Expression Is An Important Topic In Python

24

Python regex to find sequences of one upper case letter followed by lower case letters

In [51]:
sample="RegularExpressionIsAnImportantTopicInPython"
def space(string):
    result=re.findall(r'[A-Z][a-z]+',string)
    print(result)

space(sample)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

25

Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [52]:
sample="Hello hello world world"
result=re.sub(r'([a-z][a-z]+)(\s\1)',r'\1',sample)
result

'Hello hello world'

26

Write a python program using RegEx to accept string ending with alphanumeric character.

In [53]:
def alpha_num_end(string):
        result=re.findall(r'^.+[a-zA-Z\d@#\*]$',i)
        if len(result)==1:
            print("accepted")
        else:
            print("Not accepted")

In [54]:
alpha_num_end(input("Enter the password : "))

Enter the password : Divith@4041
accepted

27

Write a python program using RegEx to extract the hashtags.
Sample Text: """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same 
has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

In [55]:
string='''RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by 
#Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"'''

In [56]:
def extract_hashtag(str):
        result=re.findall(r'#[\w]+',str)
        print(result)

In [57]:
extract_hashtag(string)

['#Doltiwal', '#xyzabc', '#Demonetization']

28

Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place.
You need to come up with a general Regex expression that will cover all such symbols.

In [58]:
string="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

In [59]:
def remove(str):
        result=re.sub(r'<[A-Z\+\d]+>','',str)
        print(result)

In [60]:
remove(string)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

29

Write a python program to extract dates from the text stored in the text file.

In [61]:
def ext_date(filename):
    
    df=open(filename)
    
    string=df.read()
    df.close()
    
    dates=re.findall(r'[\d]{2}-[\d]{2}-[\d]{4}',string)
    print(dates)

In [62]:
ext_date('Date_ext.txt')

['12-09-1992', '15-12-1999']

30

Create a function inpython to remove all words from a string of length between 2 and 4.

In [63]:
string="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

In [64]:
def remove(str):
    result=re.sub(r'\b[\w]{2,4}\b','',str)
    print(result)
remove(string)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.